[submodule "account"]
	path = account
	url = https://github.com/KaiqueIvo04/barbershop-account
[submodule "api-gtw"]
	path = api-gtw
	url = https://github.com/KaiqueIvo04/barbershop-gtw
[submodule "schedule-management"]
	path = schedule-management
	url = https://github.com/KaiqueIvo04/barbershop-schedule-management
